<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<h2>Create User</h2>
<div id="pesan"></div>
<input name="user" placeholder="Username" />
<br>
<input name="pass" placeholder="Password" />
<br>
<button>Create</button>
<div id="users"></div>
